.config/htop
.config/dconf
.config/glib-2.0
.config/pulse
.config/blender
.config/mimeapps.list
.config/kritadisplayrc
.config/StardewValley
.config/nvim/lazy-lock.json
.config/BraveSoftware/*
.config/aseprite
__pycache__
