.config/htop
.config/dconf
.config/glib-2.0
.config/pulse
.config/blender
.config/mimeapps.list
.config/kritadisplayrc
.config/StardewValley
.config/BraveSoftware/*
.config/aseprite
.config/qutebrowser
__pycache__
